* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: red;
}

.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.ofh {
    overflow: hidden;
}

.h0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.h500 {
    height: 500px;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.w-100 {
    width: 100%;
}

.w-1200 {
    width: 1200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.swiper-wrapper {
    width: 1000000px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.swiper-slide {
    opacity: 0;
    transition: 0.5s;
}

.on.swiper-slide {
    opacity: 1;
    z-index: 10000;
}